/*{
	width :100%;
	height :100%;
	font-family: 'Montserrat', sans-serif;
  
  background: #000;
}
.wrapper {
  height: 100vh;
}
.parallax-img{
	 background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;]
/*header {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}*/
/*.parallax-img{
 background-image: url(https://unsplash.com/photos/sBaGplnso94);

    
 }*/

.page-header-image{
  background-size: cover;
  
  background-position: center;
  background-repeat: no-repeat;



}
@media only screen and (max-width: 900px) {
    #particle {
        display: none;
    }
}

#logo {
    height: auto;
    width: 10%;
    border-radius: 30%;
}


   
.nav-icon {
    color: #ECF0F1;
} 

.nav-icon:hover {
    color: #68C3A3;
}
.subtitle {
    display: block;
    padding-right: 5rem;
}
.v{
    font-size: 10rem;
    font-family: "Libre Baskerville";
    margin-top: 8rem;
    background: -webkit-linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 400%;
    animation: t 20s infinite linear;
    transition: all 1s;
}

@keyframes t {
     0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.timelink {
     background: -webkit-linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    animation: moveLeft 1.5s ease;
    transition: all .3s;
}

@keyframes moveLeft {
    0% { transform: translateY(18px);}
    50% { transform: translateY(-18px);}
    100% { transform: translateY(0px);}
}
.about {
  
     height: auto;
    width: 100%;
    filter: brightness(.2);
    transition: all .2s;

}
@media only screen and (max-width: 1020px) {
    .about-section {
        display: inline-grid;
        grid-template-columns: 1fr;
    }
    
}
.view img {
    height: auto;
    width: 100%;
    filter: brightness(.8);
    transition: all .2s;
}
.img-about img:hover {
    filter: brightness(.9);
}

.about-heading {
    display: block;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: "Libre Baskerville";
    background: -webkit-linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    transition: all .5s;
    backface-visibility: hidden;
}
.product-description {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.87);
    transition: all .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.5rem;
    
}
.section {
    padding: 70px 0;
    }
    .aboutSection {
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutSection h3 {
    font-size: 40px;
}

.aboutSection .container-full {
    padding-bottom: 0px;
}

.aboutSection p {
    color: #252525;
    font-size: 19px;
    line-height: 2.1;
    margin-top: 22px;
}

.aboutSection img {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

hr {
    border: 2px solid #dd0024;
    width: 32px;
    margin-left: 0px;
    margin-top: 30px;
    background: #dd0024;
}

.gallery-cont {
    display: grid;
    grid-column-gap: 1rem;
    padding: 0 2.5rem;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

@media only screen and (max-width: 900px) {
    .gallery-cont {
        padding: 0 .5rem;
        grid-column-gap: .8rem;
    }
}


.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all .5s;
  backface-visibility: hidden;
  filter: grayscale(.7);
}


.gallery-1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3; }

.gallery-2 {
  grid-column: 8 / span 4;
  grid-row: 3 / span 3; }

.gallery-3 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 2; }

.gallery-4 {
  grid-column: 4 / span 2;
  grid-row: 1 / span 1; }

.gallery-5 {
  grid-column: 6 / span 2;
  grid-row: 1 / span 1;}

.gallery-6 { 
  grid-column: 4 / span 4;
  grid-row: 2 / span 3;
}

.gallery-7 {
  grid-column: 6 / span 2;
  grid-row: 5 / span 1;
}

.gallery-8 {
  grid-column: 8 / span 4;
  grid-row: 1 / span 2;
   }
.gallery-9 {
  grid-column: 4 / span 2;
  grid-row: 5 / span 1;
}

.gallery__img:hover {
    transform: scale(1.05);
    filter: none;
}
.contact-sign {
    position: relative;
    padding: 9rem 0rem;
    margin: 5rem 12rem;
    border: 1px solid #111;
    transition: all 4s;
    animation: color 8s infinite alternate;
}

@media only screen and (max-width: 900px) {
    .contact-sign {
        border: none;
        padding: 2rem;
        margin: 2rem .5rem;
    }
}
@keyframes color {
    0% {
        border: 1px solid #111;
    }
    20% {
        border: 1px solid #674172;
    }
    
    40% {
        border: 1px solid #A2DED0;
    }
    60% {
        border: 1px solid #2ABB9B
    }
    100% {
        border: 1px solid #913D88;
    }
}
#email-button {
    background: transparent;
    color: #CF000F;
    border: 1px solid #111;
    border-radius: 0;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 1.2rem 4rem;
    transition: all .4s;
    animation: color 8s infinite alternate;
}


.email-btn:link,
.email-btn:visited {
    background: #913D88;
    background-size: 400%;
    transition: transform .5s;
    border: none;
}
#email-button:hover,
#email-button:active {
    background-color: #CF000F;
    background-size: 400%;
    animation: button 20s linear infinite;
    border: 1px solid transparent;
    color: #fff;
}


@keyframes button {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 200%;
    }
    100% {
        background-position: 400%;
    }
}
.email-heading {
    font-weight: 400;
    font-size: 2.5rem;
    color: #111;
    margin: 0;
}
.section-basic {
    background-color: #F2F1EF; 
}

.heart {
    color: #CF000F;
    text-align: center;
}
.footer {
    background-color: rgba(0, 0, 0, 0.94);
    font-size: 1.2rem;
    padding-top: 3.5rem;
}

.footer a:hover {
    background: #222;
    
}
@media only screen and (max-width: 900px) {
    
    
    .container {
        display: grid;
    }
}
.photo_credit {
    text-align: center;
    font-size: .9rem;
    display: block;
    padding-top: 2rem;
}

::selection {
    background-color: rgba(4, 147, 114, 0.76);
}

.ball {
  pointer-events: none;
  position: absolute; 
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: gray;
  animation: implode 1s ease-in-out;
  animation-fill-mode: both;
  opacity: .5;
}

@keyframes implode {
  100% {transform: scale(0)}
}


 /*.wrapper {
  height: 100vh;*/
}
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;

}

 /*.parallax-img {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}*/


/* Other styling elements, that are not necessary for the example */
/*.parallax-img {
  background-image: url(pic3.jpg);
}*/







